<!DOCTYPE html>
<html lang="fa-IR" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
      crossorigin="anonymous"
    />
    <title>ثبت نام تودو لیست</title>
</head>
<body>

    <div class="card" style="width: 50%; margin:50px auto">
<h2 style="text-align:center">ثبت نام کنید</h2>
    {% if error_message %}
        <h5>{{ error_message }}</h5>
    {% endif %}
    <form method="post" action="{% url 'register' %}">
        {% csrf_token %}
        <input type="text" name="username" placeholder="یوزر نیم خود را وارد کنید">
        <input type="password" name="password" placeholder="پسورد خود را وارد کنید">
        <button type="submit" class="btn btn-primary">ثبت نام کنید</button>
    </form>
    </div>
    <div class="card" style="width: 50%; margin:50px auto">
        حساب کاربری دارید ؟
        <a class="btn btn-primary" href="{% url 'login' %}">
            وارد شوید
        </a>
    </div>


        {% include 'todos/introduction.html' %}

<script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
      crossorigin="anonymous"
    ></script>
</body>
</html>